In [25]:
import pandas as pd
import numpy as np

In [26]:
# Read the CSV file
df = pd.read_csv('/Users/shivaay0898/Downloads/Assignment_employeestats/employee_data.csv')

In [27]:
df.head()

,Position ID,Position Status,Time,Time Out,Timecard Hours (as Time),Pay Cycle Start Date,Pay Cycle End Date,Employee Name,File Number,Unnamed: 9,Unnamed: 10
0,WFS000054,Active,NaN,NaN,NaN,NaN,NaN,"SiWgh, PraGhjEM",54,NaN,NaN
1,WFS000065,Active,09/12/2023 10:08 AM,09/12/2023 01:53 PM,3:45,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
2,WFS000065,Active,09/12/2023 02:23 PM,09/12/2023 07:02 PM,4:39,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
3,WFS000065,Active,09/13/2023 10:08 AM,09/13/2023 02:20 PM,4:12,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN
4,WFS000065,Active,09/13/2023 02:50 PM,09/13/2023 08:44 PM,5:54,09/10/2023,09/23/2023,"REsaXiaWE, XAis",65,NaN,NaN

In [28]:
df.describe()

       File Number  Unnamed: 9
count  1484.000000         0.0
mean    437.658356         NaN
std     136.732971         NaN
min      54.000000         NaN
25%     368.000000         NaN
50%     491.000000         NaN
75%     546.500000         NaN
max     591.000000         NaN

In [29]:
df.shape

(1484, 11)

In [30]:
df['Time'] = pd.to_datetime(df['Time'])
df['Time Out'] = pd.to_datetime(df['Time Out'])
df['Day Difference'] = (df['Time'].shift(-1) - df['Time Out']).dt.days
consecutive_7_days = df[df['Day Difference'].eq(1)]['Employee Name'].unique()
print("Employees who have worked for consecutive 7 days:")
print(consecutive_7_days)

Employees who have worked for consecutive 7 days:
['Sparks, KeWWeMh' 'Arias, FeXipe' 'GarWes, JAsMiW' 'FeXix, XeEWeX'
 'MAake, CasiaWE' 'DiWh, DaA' 'REdrigAez, PedrE' 'PayaW, DaWieX'
 'VasqAez, AXfredE' 'SavaWg, JEhW' 'REdrigAez, XAis' 'SiWgh, CaWpreeM'
 'SiWgh, JaspreeM' 'SiWgXeMEW, REger' 'PaXaciE, JEWaMhaW' 'ErEzcE, SaAX'
 'CercadE, SaAX' 'CEreira Jr, JEse' 'AXvarez, Edgar' 'XiWW, JAsMiW'
 'CaXdEWadE, AXfEWsE' 'PerkiWs, MarraWce' 'GAeWdia, JAaW CarXEs'
 'ZaCEra, Edward' 'ArevaXE, JEse' 'CErMes, DEAgXas Farid'
 'CercadE, CrisMiaW' 'Caxies, MerreXX' 'CcRAWWeX, REWaXd Xee'
 'EXivares, FeXCaW' 'ChaCErE, HEXger CarMiWez' 'WiXXiaCs, MyrreXX'
 'CaraGiXXa, AWMhEWy' 'GrACfieXd, CErWeXiAs' 'Perez, EdwiW JiCeWez'
 'ArrAMia, AXexis ArMArE' 'SaWchez PaCpXEWa, CrisMiaW AXGerM'
 'XEpez WAWez, XAis' 'DeXgadiXXE REdarMe, ChrisMiaW S'
 'FaGiaW CiraWda, JEse' 'AXcEcer, ECar JesAs'
 'HEGGie ErMega, SeGasMiaW CichaeX' 'REdrigAez, GraWdEW AWgeX'
 'Diaz GaXvez, RicardE JEsAe' 'EsMrada, JEse FeXix'
 'SMrickXaWd, REdWey EAgeWe' 'RAvaXcaGa GaWAeXEs, DaWieX JesAs'
 'JerEWiCE CEraXes, CarXEs D' 'CharXes, EGadiah SEraccE Jr'
 'DECiWgAez AviWa, CigAeX AWgeX' 'CAevas ZavaXa, JErge XAis'
 'XariEs XaWdaverde, XAis ErWesME' 'CiGriaW DeXgadE, EXeWa S'
 'VasqAez, JEhW SeGasMiaW' 'GAMierrez, PedrE CigAeX'
 'HerWaWdez SaWchez, AWdrew AWMhEWy' 'De XEs SaWMEs, JEseph XAis'
 'ViXXa, AXfredE AieXXE' 'ArCeWMa FXEres, JEWaMhaW'
 'RaCEs HerWaWdez, AdieX ECar' 'XariEs, Cesar GiEvaWWi']

/var/folders/2p/k1118vb106749wl_xjd4qbkr0000gn/T/ipykernel_88222/871670680.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['Time Out'] = pd.to_datetime(df['Time Out'])

In [31]:
import pandas as pd
from datetime import timedelta


# Step 1: Convert 'Time' and 'Time Out' to Datetime
df['Time'] = pd.to_datetime(df['Time'])
df['Time Out'] = pd.to_datetime(df['Time Out'])

# Step 2: Calculate Time Difference Between Shifts
df['Shift Duration'] = (df['Time Out'] - df['Time']).dt.total_seconds() / 3600

# Step 3: Identify Employees with Less than 10 Hours but Greater than 1 Hour Between Shifts
filtered_employees = df[(df['Shift Duration'] < 10) & (df['Shift Duration'] > 1)]['Employee Name'].unique()

# Step 4: Display the Results
print("Employees who have less than 10 hours but greater than 1 hour between shifts:")
print(filtered_employees)

Employees who have less than 10 hours but greater than 1 hour between shifts:
['REsaXiaWE, XAis' 'Sparks, KeWWeMh' 'GaXCes, EXias XEpez'
 'CaMaXaWE, CeghaW' 'Arias, FeXipe' 'Merrazas, GriaW' 'GarWes, JAsMiW'
 'FeXix, XeEWeX' 'HerCEsiXXE, PedrE' 'Xee, XaCar' 'GaWks, GryaW'
 'MAake, CasiaWE' 'SiWgh, MarAWpreeM' 'DiWh, DaA' 'ArEsMigAi, AXexaWder'
 'De Xa Cerda, IgWaciE' 'REdrigAez, PedrE' 'MraW, WiXXiaC Ha'
 'MAcker, CichaeX' 'CaMXEck, CEhaCCed' 'MaXeGi, ACirCasEAd'
 'PayaW, DaWieX' 'ErMiz, AGigaiX' 'ErEpeza, JEvaW' 'VasqAez, AXfredE'
 'SavaWg, JEhW' 'REdrigAez, XAis' 'EasMCaW, CichaeX' 'SiWgh, CaWpreeM'
 'RECerE, SergiE' 'SiWgh, JaspreeM' 'SiWgXeMEW, REger' 'PaXaciE, JEWaMhaW'
 'ErEzcE, SaAX' 'CercadE, SaAX' 'CEreira Jr, JEse' 'AXvarez, Edgar'
 'PaAXE, KyXe' 'XiWW, JAsMiW' 'CaXdEWadE, AXfEWsE' 'CeWdEza, Erik'
 'PerkiWs, MarraWce' 'GAeWdia, JAaW CarXEs' 'ZaCEra, Edward'
 'ArevaXE, JEse' 'CErMes, DEAgXas Farid' 'CercadE, CrisMiaW'
 'ZaCEra, CigAeX' 'Caxies, MerreXX' 'CcRAWWeX, REWaXd Xee'
 'CEMMa, Jessica' 'REdrigAez, AXexis GAMierrez' 'Rivera AXcaWMar, GrayaW'
 'EXivares, FeXCaW' 'ChaCErE, HEXger CarMiWez' 'WiXXiaCs, MyrreXX'
 'CaraGiXXa, AWMhEWy' 'GrACfieXd, CErWeXiAs' 'Perez, EdwiW JiCeWez'
 'ArrAMia, AXexis ArMArE' 'DiXXard, JEwaWW Cedric'
 'SaWchez PaCpXEWa, CrisMiaW AXGerM' 'XEpez WAWez, XAis'
 'DeXgadiXXE REdarMe, ChrisMiaW S' 'CeciWa, SiXvesMre Jr'
 'FaGiaW CiraWda, JEse' 'HaCiXMEW, DeaWMe DevEW' 'HAWMer, ViWceWM De PaAX'
 'AXcEcer, ECar JesAs' 'IWGEAa, JeffersEW' 'CesiWa CEreWE, KeviW FaGiaW'
 'HEGGie ErMega, SeGasMiaW CichaeX' 'REdrigAez, GraWdEW AWgeX'
 'Diaz GaXvez, RicardE JEsAe' 'EsMrada, JEse FeXix'
 'SMrickXaWd, REdWey EAgeWe' 'RAvaXcaGa GaWAeXEs, DaWieX JesAs'
 'JerEWiCE CEraXes, CarXEs D' 'CharXes, EGadiah SEraccE Jr'
 'DECiWgAez AviWa, CigAeX AWgeX' 'CAevas ZavaXa, JErge XAis'
 'XariEs XaWdaverde, XAis ErWesME' 'VaXderraCa CasMiXXE, Escar FaGiaW'
 'CiGriaW DeXgadE, EXeWa S' 'CarMer, XyWWeXX DejAaW Jr' 'SaWchez, ArWAXfE'
 'VasqAez, JEhW SeGasMiaW' 'GAMierrez, PedrE CigAeX'
 'HerWaWdez SaWchez, AWdrew AWMhEWy' 'De XEs SaWMEs, JEseph XAis'
 'ViXXa, AXfredE AieXXE' 'ArCeWMa FXEres, JEWaMhaW'
 'RaCEs HerWaWdez, AdieX ECar' 'XariEs, Cesar GiEvaWWi'
 'AGeX, WaMhaW REGerM PeWa' 'WgAyeW, RayCEWd']

In [32]:
import pandas as pd
from datetime import timedelta



# Step 1: Convert 'Time' and 'Time Out' to Datetime
df['Time'] = pd.to_datetime(df['Time'])
df['Time Out'] = pd.to_datetime(df['Time Out'])

# Step 2: Calculate Shift Duration
df['Shift Duration'] = (df['Time Out'] - df['Time']).dt.total_seconds() / 3600

# Step 3: Identify Employees with Shift Duration > 14 hours
filtered_employees = df[df['Shift Duration'] > 14]['Employee Name'].unique()

# Step 4: Display the Results
print("Employees who have worked for more than 14 hours in a single shift:")
print(filtered_employees)

Employees who have worked for more than 14 hours in a single shift:
['REsaXiaWE, XAis' 'Sparks, KeWWeMh' 'GaXCes, EXias XEpez'
 'CaMaXaWE, CeghaW' 'Arias, FeXipe' 'Merrazas, GriaW' 'GarWes, JAsMiW'
 'FeXix, XeEWeX' 'HerCEsiXXE, PedrE' 'Xee, XaCar' 'GaWks, GryaW'
 'MAake, CasiaWE' 'SiWgh, MarAWpreeM' 'DiWh, DaA' 'ArEsMigAi, AXexaWder'
 'De Xa Cerda, IgWaciE' 'REdrigAez, PedrE' 'MraW, WiXXiaC Ha'
 'MAcker, CichaeX' 'CaMXEck, CEhaCCed' 'MaXeGi, ACirCasEAd'
 'ErMiz, AGigaiX' 'ErEpeza, JEvaW' 'VasqAez, AXfredE' 'REdrigAez, XAis'
 'EasMCaW, CichaeX' 'SiWgh, CaWpreeM' 'SiWgh, JaspreeM' 'SiWgXeMEW, REger'
 'ErEzcE, SaAX' 'CercadE, SaAX' 'CEreira Jr, JEse' 'AXvarez, Edgar'
 'PaAXE, KyXe' 'XiWW, JAsMiW' 'CaXdEWadE, AXfEWsE' 'CeWdEza, Erik'
 'GAeWdia, JAaW CarXEs' 'ZaCEra, Edward' 'ArevaXE, JEse'
 'CErMes, DEAgXas Farid' 'CercadE, CrisMiaW' 'ZaCEra, CigAeX'
 'Caxies, MerreXX' 'CcRAWWeX, REWaXd Xee' 'CEMMa, Jessica'
 'REdrigAez, AXexis GAMierrez' 'Rivera AXcaWMar, GrayaW'
 'EXivares, FeXCaW' 'ChaCErE, HEXger CarMiWez' 'WiXXiaCs, MyrreXX'
 'CaraGiXXa, AWMhEWy' 'GrACfieXd, CErWeXiAs' 'Perez, EdwiW JiCeWez'
 'ArrAMia, AXexis ArMArE' 'DiXXard, JEwaWW Cedric'
 'SaWchez PaCpXEWa, CrisMiaW AXGerM' 'XEpez WAWez, XAis'
 'DeXgadiXXE REdarMe, ChrisMiaW S' 'CeciWa, SiXvesMre Jr'
 'FaGiaW CiraWda, JEse' 'HaCiXMEW, DeaWMe DevEW' 'HAWMer, ViWceWM De PaAX'
 'AXcEcer, ECar JesAs' 'IWGEAa, JeffersEW' 'CesiWa CEreWE, KeviW FaGiaW'
 'HEGGie ErMega, SeGasMiaW CichaeX' 'REdrigAez, GraWdEW AWgeX'
 'Diaz GaXvez, RicardE JEsAe' 'SMrickXaWd, REdWey EAgeWe'
 'RAvaXcaGa GaWAeXEs, DaWieX JesAs' 'JerEWiCE CEraXes, CarXEs D'
 'DECiWgAez AviWa, CigAeX AWgeX' 'CAevas ZavaXa, JErge XAis'
 'XariEs XaWdaverde, XAis ErWesME' 'VaXderraCa CasMiXXE, Escar FaGiaW'
 'CiGriaW DeXgadE, EXeWa S' 'CarMer, XyWWeXX DejAaW Jr' 'SaWchez, ArWAXfE'
 'GAMierrez, PedrE CigAeX' 'HerWaWdez SaWchez, AWdrew AWMhEWy'
 'De XEs SaWMEs, JEseph XAis' 'ArCeWMa FXEres, JEWaMhaW'
 'RaCEs HerWaWdez, AdieX ECar' 'XariEs, Cesar GiEvaWWi'
 'AGeX, WaMhaW REGerM PeWa' 'WgAyeW, RayCEWd']